#wrapper
  #main
    .inner
      .select-restaurant-preview
        .inline-block
          = form_tag '/emails/send_zero_cater_email', method: 'POST', remote: true do
            = submit_tag 'Send Email'
      %br
      %br
      %br

      = render 'user_mailer/zero_cater_email'
